<header class="header">
    <div class="container">
        <h2 class="tl1">header</h2>
        <nav>
            <ul  itemscope="" itemtype="https://schema.org/SiteNavigationElement">
                <meta itemprop="about" itemscope="" itemtype="http://schema.org/ItemList">
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList" >
                    <a itemprop="url" href="#">новинки</a>
                    <meta itemprop="name" content="новинки">
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList" >
                    <a itemprop="url" href="#">каталог</a>
                    <meta itemprop="name" content="каталог">
                </li>
            </ul>
        </nav>
    </div>
</header>