/* подключатся в голове
@font-face {
  font-family: 'Euclid Circular A';
  src: url('./assets/fonts/EuclidCircularA-Medium.eot');
  src: local('Euclid Circular A Medium'), local('EuclidCircularA-Medium'),
      url('./assets/fonts/EuclidCircularA-Medium.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/EuclidCircularA-Medium.woff2') format('woff2'),
      url('./assets/fonts/EuclidCircularA-Medium.woff') format('woff'),
      url('./assets/fonts/EuclidCircularA-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
 */