.col{
    &-black{
        color: var(--col-black);
    }
    &-wh{
        color: var(--col-white);
    }
    &-red{
        color: var(--col-red);
    }
    &-bg{
        color: var(--col-bg);
    }

}
/*  */
.bg{
    &-black{
        background-color: var(--col-black);
        
    }
    &-wh{
        background-color: var(--col-white);
    }
    &-bg{
        color: var(--col-bg);
    }
}

/*  */

.txt{
    &-up{
        text-transform: uppercase;
    }
    &-line-hover{
        @include hover{
            text-decoration: underline;
        }
    }
}

/*  */

.marked-list{
    & li{
        list-style-type: disc;
        list-style-position: outside;
    }
}

/*  */

.desktop {
    @include mobile {
      display: none;
    }
  
  }
  
  
  
  .mobile {
    @include desktop {
      display: none;
    }
  
  }
  /*  */